div.container-clientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    justify-content: center;
    align-content: center;
    justify-items: start;
    align-items: start;
    align-items: stretch;
    grid-template-areas:
        ". . ."
        "integrity zurich galicia"
        "alba meridional rocca";
    width: 100%;
    height: 100%;

    .integrity {
        grid-area: integrity;
        background-color: rgb(220, 220, 220);
        border-radius: 10px;
        
        p{
            padding: 25px 0px 0px 25px;
        }

        img{
            padding: 25px 0px 0px 25px; 
        }
    }

    .zurich {
        grid-area: zurich;
        background-color: rgb(220, 220, 220);
        border-radius: 10px;

        p{
            padding: 25px 0px 0px 25px;
        }

        img{
            padding: 25px 0px 0px 25px; 
        }
    }

    .galicia {
        grid-area: galicia;
        background-color: rgb(220, 220, 220);
        border-radius: 10px;

        p{
            padding: 25px 0px 0px 25px;
        }

        img{
            padding: 25px 0px 0px 25px; 
        }
    }

    .alba {
        grid-area: alba;
        background-color: rgb(220, 220, 220);
        border-radius: 10px;

        p{
            padding: 25px 0px 0px 25px;
        }

        img{
            padding: 25px 0px 0px 25px; 
        }
    }

    .meridional {
        grid-area: meridional;
        background-color: rgb(220, 220, 220);
        border-radius: 10px;

        p{
            padding: 25px 0px 0px 25px;
        }

        img{
            padding: 25px 0px 0px 25px; 
        }
    }

    .rocca {
        grid-area: rocca;
        background-color: rgb(220, 220, 220);
        border-radius: 10px;

        p{
            padding: 25px 0px 0px 25px;
        }

        img{
            padding: 25px 0px 0px 25px; 
        }
    }
}