div.container-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    justify-content: center;
    align-content: center;
    justify-items: start;
    align-items: start;
    grid-template-areas:
        "div-left div-right";
    width: 100%;
    height: 100%;


    .div-left {
        grid-area: div-left;
        padding-right: 200px;
    }

    .div-right {
        grid-area: div-right;
        border-radius: 15px;
        background: linear-gradient(to bottom, rgb(232, 232, 232), white);

        div{
            margin: 0px;
            padding: 0px;

            input{
                border-radius: 2px;
            }
            select{
                border-radius: 2px;
            }
            textarea{
                border-radius: 2px;
            }
            
        }

        .submit{
                padding: 10px 40px;
                border-radius: 50px;
                border: rgb(189, 189, 189);
                text-decoration: none;   
            }
    
            .submit:hover {
                color: orange;
                text-shadow: -1px -1px 5px rgba(255, 166, 0, 0.652);
                transition: 0.3s;
            }
    }
}

@media (max-width: 1230px){
    div.container-contacto{
        display: flex!important;
        flex-direction: column-reverse;
        align-items: center;
        margin: 5px;

        div.div-left{
            img{
                width: 0%!important;
                height:0%!important;
            }
        }
       
    }
}
