section{
    div{
        margin: 50px 10px 100px 10px;
        padding: 20px;

        h1{
            padding-bottom: 20px;          
        }

        p{
            padding-bottom: 25px;     
        }
    }

    .separador{
        border-right: solid;
    }
}